<div class="d-flex">
    <div class="sidebar bg-info text-light p-3 d-flex flex-column" style="height: 86vh; width: 250px;">
        <a style="text-decoration: none; margin-top: 10px; color: white;" routerLink="/dashboard">Home</a>
        <a style="text-decoration: none; margin-top: 10px; color: white;" routerLink="/users">Users</a>
    </div>
    <div class="dashboard p-3 w-100 d-flex justify-content-center align-items-center flex-column">
        <h2 style="color: rgb(7, 7, 159);">Add New User Details</h2>

        <form class="border rounded shadow p-5 mt-5 w-75">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="User Id">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option selected></option>
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                  
                </select>
                <label for="floatingSelect">Status</label>
              </div>
            <div class="mb-3">
                <button class="btn btn-warning me-3">Cancel</button>
               <button class="btn btn-success">Save</button>
            </div>
           </form>
    </div>
</div>
